<a href="https://colab.research.google.com/github/grazi-rodrigues/AnimaCursoDeExtensaoPythonPandas2023/blob/main/Projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto com manipulação de dados usando Python Pandas.

## Autor(a): Graziele dos Santos Rodrigues

In [2]:
# Importando biblioteca pandas no Python
import pandas as pd

### Criação do DataFrame

In [61]:
# Criando um DataFrame a partir de um arquivo.
leito_ocupacao = pd.read_csv('esus-vepi.LeitoOcupacao_2022.csv')

In [6]:
display(leito_ocupacao)

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79430,1378885,3vrYU344mG,2022-03-04T00:00:00.000Z,2078287,NaN,NaN,NaN,NaN,0.0,0.0,...,RPA-SP,_User$HzwsO90KQW,São Paulo,São Paulo,São Paulo,São Paulo,False,False,2022-03-05T03:02:30.001Z,2022-03-05T03:02:30.001Z
79431,1378886,MnFSvsw0HY,2022-03-04T00:00:00.000Z,2053519,NaN,NaN,NaN,NaN,0.0,0.0,...,RPA-SP,_User$HzwsO90KQW,São Paulo,Monte Azul Paulista,São Paulo,Monte Azul Paulista,False,False,2022-03-05T03:02:30.147Z,2022-03-05T03:02:30.147Z
79432,1378887,KZv94SbnHR,2022-03-04T00:00:00.000Z,2084023,NaN,NaN,NaN,NaN,0.0,0.0,...,RPA-SP,_User$HzwsO90KQW,São Paulo,Nazaré Paulista,São Paulo,Nazaré Paulista,False,False,2022-03-05T03:02:30.252Z,2022-03-05T03:02:30.252Z
79433,1378888,iCaWQ3Ape0,2022-03-04T00:00:00.000Z,2747685,NaN,NaN,NaN,NaN,0.0,0.0,...,RPA-SP,_User$HzwsO90KQW,São Paulo,Nova Europa,São Paulo,Nova Europa,False,False,2022-03-05T03:02:30.381Z,2022-03-05T03:02:30.381Z
79434,1378889,FBjwXI0zOx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Alguns comandos do DataFrame

In [7]:
#Exibindo apenas as 5 primeiras linhas 
display(leito_ocupacao.head())

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z

In [8]:
# Exibindo somente 15 linhas
display(leito_ocupacao.head(15))

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z
5,1290494,3ACxSyKSCK,2022-01-01T03:00:37.005Z,2664984,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$qGap5eiTEq,Santa Catarina,Palmitos,Santa Catarina,Palmitos,False,False,2022-01-01T05:50:49.260Z,2022-01-01T05:50:49.260Z
6,1290495,NwjnjsHbot,2022-01-01T03:00:06.730Z,2252260,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$xM5hias4w2,Rio Grande do Sul,Estrela,Rio Grande do Sul,Estrela,False,False,2022-01-01T05:53:25.682Z,2022-01-01T05:53:25.682Z
7,1290496,phtJiP6gpe,2022-01-01T03:00:21.351Z,2078511,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$q46U1ECOev,São Paulo,Ilha Solteira,São Paulo,Ilha Solteira,False,False,2022-01-01T05:53:35.231Z,2022-01-01T05:53:35.231Z
8,1290498,DjdziRthvF,2022-01-01T03:00:37.452Z,2082438,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$yklFg4R3ag,São Paulo,Chavantes,São Paulo,Chavantes,False,False,2022-01-01T08:35:47.103Z,2022-01-01T08:35:47.103Z
9,1290499,CzqSqHKQiu,2022-01-01T03:00:22.259Z,2077655,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$spMHnfRCha,São Paulo,São Paulo,São Paulo,São Paulo,False,False,2022-01-01T08:43:00.591Z,2022-01-01T08:43:00.591Z
10,1290500,Dxb7NbHg5h,2022-01-01T03:00:44.698Z,2250802,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$0wPKZRMBPK,Rio Grande do Sul,Campina das Missões,Rio Grande do Sul,Campina das Missões,False,False,2022-01-01T08:49:25.411Z,2022-01-01T08:49:25.411Z
11,1290501,Ao1uOodYCZ,2022-01-01T03:00:15.398Z,4054695,NaN,NaN,NaN,NaN,3.0,1.0,...,parse-cloud,_User$jnuYKPAj1L,Paraná,Palotina,Paraná,Palotina,False,False,2022-01-01T09:13:13.966Z,2022-01-01T09:13:13.966Z
12,1290503,m4Y8OTlYyL,2022-01-01T03:00:46.652Z,2091267,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$dhmqBf0VOQ,São Paulo,Santa Rita do Passa Quatro,São Paulo,Santa Rita do Passa Quatro,False,False,2022-01-01T09:24:48.668Z,2022-01-01T09:24:48.668Z
13,1290504,mZ98r8PBcH,2022-01-01T03:00:20.504Z,2760681,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$k1UHRmnd2r,Minas Gerais,Aiuruoca,Minas Gerais,Aiuruoca,False,False,2022-01-01T09:35:14.370Z,2022-01-01T09:35:14.370Z
14,1290505,KLB7vMiCu3,2022-01-01T03:00:24.957Z,2168421,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$NpofJm9yZB,Minas Gerais,Areado,Minas Gerais,Areado,False,False,2022-01-01T09:36:38.754Z,2022-01-01T09:36:38.754Z

In [9]:
# Com o DataFrame.shape será exibido a quantidade de linhas e colunas
display(leito_ocupacao.shape)

(79435, 26)

In [10]:
#Quais são as colunas e que tipo de dados cada um tem...
print(leito_ocupacao.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79435 entries, 0 to 79434
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             79435 non-null  int64
 1   _id                    79435 non-null  object
 2   dataNotificacao        79434 non-null  object
 3   cnes                   79434 non-null  object
 4   ocupacaoSuspeitoCli    1 non-null      float64
 5   ocupacaoSuspeitoUti    1 non-null      float64
 6   ocupacaoConfirmadoCli  1 non-null      float64
 7   ocupacaoConfirmadoUti  1 non-null      float64
 8   ocupacaoCovidUti       79434 non-null  float64
 9   ocupacaoCovidCli       79434 non-null  float64
 10  ocupacaoHospitalarUti  79434 non-null  float64
 11  ocupacaoHospitalarCli  79434 non-null  float64
 12  saidaSuspeitaObitos    79434 non-null  float64
 13  saidaSuspeitaAltas     79434 non-null  float64
 14  saidaConfirmadaObitos  79434 non-null  float64
 15  saidaConfirmadaAltas   79434 non-null  float64
 16  origem                 79434 non-null  object
 17  _p_usuario             79434 non-null  object
 18  estadoNotificacao      79434 non-null  object
 19  municipioNotificacao   79434 non-null  object
 20  estado                 79434 non-null  object
 21  municipio              79434 non-null  object
 22  excluido               79434 non-null  object
 23  validado               79434 non-null  object
 24  _created_at            79434 non-null  object
 25  _updated_at            79434 non-null  object
dtypes: float64(12), int64(1), object(13)
memory usage: 15.8+ MB
None

In [11]:
# Gerando informações estatísticas mais básica que a info(). 
print(leito_ocupacao.describe())

         Unnamed: 0  ocupacaoSuspeitoCli  ocupacaoSuspeitoUti  \
count  7.943500e+04                  1.0                  1.0
mean   1.336048e+06                 13.0                  8.0
std    2.570086e+04                  NaN                  NaN
min    6.415080e+05                 13.0                  8.0
25%    1.313940e+06                 13.0                  8.0
50%    1.334318e+06                 13.0                  8.0
75%    1.358868e+06                 13.0                  8.0
max    1.378889e+06                 13.0                  8.0

       ocupacaoConfirmadoCli  ocupacaoConfirmadoUti  ocupacaoCovidUti  \
count                    1.0                    1.0      79434.000000
mean                     0.0                    0.0          3.948977
std                      NaN                    NaN         10.488731
min                      0.0                    0.0         -3.000000
25%                      0.0                    0.0          0.000000
50%                      0.0                    0.0          0.000000
75%                      0.0                    0.0          5.000000
max                      0.0                    0.0        300.000000

       ocupacaoCovidCli  ocupacaoHospitalarUti  ocupacaoHospitalarCli  \
count      79434.000000           79434.000000           79434.000000
mean           5.436362               9.444986              34.423182
std           12.461630              19.863175              59.369034
min           -1.000000              -3.000000               0.000000
25%            0.000000               0.000000               2.000000
50%            1.000000               0.000000              11.000000
75%            6.000000              10.000000              39.000000
max          564.000000            1600.000000            1033.000000

       saidaSuspeitaObitos  saidaSuspeitaAltas  saidaConfirmadaObitos  \
count         79434.000000        79434.000000           79434.000000
mean              0.150200            0.667132               1.043206
std               2.409724           14.027617              13.973901
min              -2.000000           -5.000000              -1.000000
25%               0.000000            0.000000               0.000000
50%               0.000000            0.000000               0.000000
75%               0.000000            0.000000               0.000000
max             106.000000         3292.000000             641.000000

       saidaConfirmadaAltas
count          79434.000000
mean               6.537301
std              135.179202
min               -6.000000
25%                0.000000
50%                0.000000
75%                1.000000
max             6750.000000

In [12]:
# Buscando apenas uma coluna
display(leito_ocupacao['municipio'])

0                       Mafra
1                    Umuarama
2                    Ilhabela
3        Bernardino de Campos
4                      Bastos
                 ...
79430               São Paulo
79431     Monte Azul Paulista
79432         Nazaré Paulista
79433             Nova Europa
79434                     NaN
Name: municipio, Length: 79435, dtype: object

In [15]:
# Aqui criamos outro DataFrame com apenas algumas colunas 
notificacaoLeito = leito_ocupacao[['dataNotificacao', 'ocupacaoSuspeitoCli', 'ocupacaoSuspeitoUti', 'ocupacaoConfirmadoCli', 'ocupacaoConfirmadoUti', 'ocupacaoCovidUti', 'ocupacaoCovidCli', 'ocupacaoHospitalarUti', 'ocupacaoHospitalarCli', 'saidaSuspeitaObitos', 'saidaSuspeitaAltas', 'saidaConfirmadaObitos', 'saidaConfirmadaAltas', 'estadoNotificacao', 'municipioNotificacao', 'estado', 'municipio']] 
display(notificacaoLeito)

,dataNotificacao,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,ocupacaoHospitalarUti,ocupacaoHospitalarCli,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,saidaConfirmadaAltas,estadoNotificacao,municipioNotificacao,estado,municipio
0,2022-01-17T03:00:00.000Z,13.0,8.0,0.0,0.0,0.0,1.0,8.0,12.0,0.0,1.0,0.0,1.0,Santa Catarina,Mafra,Santa Catarina,Mafra
1,2022-01-05T03:00:00.000Z,NaN,NaN,NaN,NaN,0.0,0.0,9.0,31.0,0.0,0.0,0.0,0.0,Paraná,Umuarama,Paraná,Umuarama
2,2022-01-01T03:00:50.682Z,NaN,NaN,NaN,NaN,1.0,9.0,3.0,14.0,0.0,0.0,0.0,0.0,São Paulo,Ilhabela,São Paulo,Ilhabela
3,2022-01-01T03:00:08.570Z,NaN,NaN,NaN,NaN,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos
4,2022-01-01T03:00:14.691Z,NaN,NaN,NaN,NaN,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,São Paulo,Bastos,São Paulo,Bastos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79430,2022-03-04T00:00:00.000Z,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,São Paulo,São Paulo,São Paulo,São Paulo
79431,2022-03-04T00:00:00.000Z,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,São Paulo,Monte Azul Paulista,São Paulo,Monte Azul Paulista
79432,2022-03-04T00:00:00.000Z,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,São Paulo,Nazaré Paulista,São Paulo,Nazaré Paulista
79433,2022-03-04T00:00:00.000Z,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,São Paulo,Nova Europa,São Paulo,Nova Europa
79434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
notificacaoLeito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79435 entries, 0 to 79434
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   dataNotificacao        79434 non-null  object
 1   ocupacaoSuspeitoCli    1 non-null      float64
 2   ocupacaoSuspeitoUti    1 non-null      float64
 3   ocupacaoConfirmadoCli  1 non-null      float64
 4   ocupacaoConfirmadoUti  1 non-null      float64
 5   ocupacaoCovidUti       79434 non-null  float64
 6   ocupacaoCovidCli       79434 non-null  float64
 7   ocupacaoHospitalarUti  79434 non-null  float64
 8   ocupacaoHospitalarCli  79434 non-null  float64
 9   saidaSuspeitaObitos    79434 non-null  float64
 10  saidaSuspeitaAltas     79434 non-null  float64
 11  saidaConfirmadaObitos  79434 non-null  float64
 12  saidaConfirmadaAltas   79434 non-null  float64
 13  estadoNotificacao      79434 non-null  object
 14  municipioNotificacao   79434 non-null  object
 15  estado                 79434 non-null  object
 16  municipio              79434 non-null  object
dtypes: float64(12), object(5)
memory usage: 10.3+ MB

In [19]:
notificacaoLeito['estado'].nunique()

27

In [40]:
notificacaoLeito['estado'].unique()     # Houveram notificações nos 26 estados mais o Distrito Federal do Brasil

array(['Santa Catarina', 'Paraná', 'São Paulo', 'Rio Grande do Sul',
       'Minas Gerais', 'Sergipe', 'Rio de Janeiro', 'Goiás', 'Alagoas',
       'Espírito Santo', 'Ceará', 'Mato Grosso do Sul', 'Pernambuco',
       'Bahia', 'Piauí', 'Amazonas', 'Rondônia', 'Paraíba', 'Acre',
       'Pará', 'Rio Grande do Norte', 'Maranhão', 'Tocantins',
       'Distrito Federal', 'Mato Grosso', 'Amapá', 'Roraima', nan],
      dtype=object)

In [25]:
# Quantidade de municipios que notificaram por estado
notificacaoLeito['municipio'].groupby(by=notificacaoLeito['estado']).nunique()

estado
Acre                     3
Alagoas                  6
Amapá                    2
Amazonas                 9
Bahia                   36
Ceará                   43
Distrito Federal         1
Espírito Santo          13
Goiás                  167
Maranhão                22
Mato Grosso              7
Mato Grosso do Sul      69
Minas Gerais           205
Paraná                  36
Paraíba                  5
Pará                    11
Pernambuco              38
Piauí                   13
Rio Grande do Norte     19
Rio Grande do Sul       29
Rio de Janeiro          41
Rondônia                 7
Roraima                  1
Santa Catarina          75
Sergipe                  3
São Paulo              335
Tocantins                8
Name: municipio, dtype: int64

In [31]:
# Validando a contagem
notificacaoLeito[notificacaoLeito['estado'] == 'Minas Gerais']['municipio'].nunique()

205

In [38]:
# Nesta base de dados existem 12 municipios com o mesmo nome em dois estados 
notificacaoLeito['estado'].groupby(by=notificacaoLeito['municipio']).nunique().sort_values(ascending=False).head(20)

municipio
Santa Cruz                 2
Rio Claro                  2
Valença                    2
Jardim                     2
Praia Grande               2
Turvo                      2
Hidrolândia                2
Presidente Bernardes       2
São Simão                  2
São Gonçalo do Amarante    2
Bandeirantes               2
Palmas                     2
Patos de Minas             1
Patos                      1
Pato Branco                1
Abadia de Goiás            1
Passos                     1
Passo Fundo                1
Patrocínio Paulista        1
Passabém                   1
Name: estado, dtype: int64

In [47]:
# Criando a coluna apenas com data de notificação (sem a hora)
notificacaoLeito['data'] = pd.to_datetime(notificacaoLeito['dataNotificacao']).dt.date

<ipython-input-47-ec45ffbd9366>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notificacaoLeito['data'] = pd.to_datetime(notificacaoLeito['dataNotificacao']).dt.date

In [60]:
# Status de ocupação de leitos por dia 
notificacaoLeito[['ocupacaoSuspeitoCli', 'ocupacaoSuspeitoUti', 'ocupacaoConfirmadoCli', 'ocupacaoConfirmadoUti', 'ocupacaoCovidUti', 'ocupacaoCovidCli', 'ocupacaoHospitalarUti', 'ocupacaoHospitalarCli']].groupby(by=notificacaoLeito['data']).sum().astype(int)

,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,ocupacaoHospitalarUti,ocupacaoHospitalarCli
data,,,,,,,,
2022-01-01,0,0,0,0,2359,2429,9380,32406
2022-01-02,0,0,0,0,2419,2744,9608,33514
2022-01-03,0,0,0,0,2742,3457,10418,38840
2022-01-04,0,0,0,0,2802,3384,10594,42148
2022-01-05,0,0,0,0,2787,3776,10667,42991
...,...,...,...,...,...,...,...,...
2022-03-01,0,0,0,0,3951,4730,10693,39519
2022-03-02,0,0,0,0,4059,4831,11229,41739
2022-03-03,0,0,0,0,3730,4096,10346,40312
2022-03-04,0,0,0,0,2271,2801,7847,33071
2022-03-06,0,0,0,0,0,0,7,16

In [62]:
# Quantidade de obitos confirmados por dia
notificacaoLeito['saidaConfirmadaObitos'].groupby(by=notificacaoLeito['data']).sum().astype(int)

data
2022-01-01     482
2022-01-02     752
2022-01-03    1470
2022-01-04    1501
2022-01-05    1101
              ...
2022-03-01     530
2022-03-02     861
2022-03-03    1395
2022-03-04     121
2022-03-06       0
Name: saidaConfirmadaObitos, Length: 64, dtype: int64